sites-available
sites=enabled
ngin*
venv
archive
.idea
.vscode
www*
__py*

*__py*
*test.html
app/templates/test.html
main.py
*newtest.py
*test.py
*test2.py
*site_settings.py
scrap/
*/test.js
app/static/js/test.js
app/static/parent/*
app/static/images/*
app/static/js/ttt.js
*.txt
!robots.txt
app/ssl.py
app/sitemap.py
app/static/css/test.sql
