* {
  font-family: "Mulish", sans-serif, "Roboto;";
}
.item-menu {
  font-family: "Roboto";
}
h1 {
  margin: 0.5rem;
}
.addr {
  margin-top: 1rem;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.address-warning {
  display: flex;
  font-weight: bold;
  padding: 0 0rem;
}
.basket {
  /* outline: solid 2px red; */
  background-size: 60%;
  /* background-color: rgb(243, 243, 243); */
  background-color: transparent;
  background-image: url("../images/basket.svg");
  background-repeat: no-repeat;
  background-position: top 20px center;
  height: 540px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.basket-checkbox {
  font-size: 16px;
  cursor: pointer;
}
.basket-product {
  display: grid;
  grid-template-columns: 6fr 3fr;
}
.buttons-area {
  display: flex;
  gap: 2rem;
  margin: 1rem 0;
  margin-bottom: 2rem;
}
.buy-message {
  flex: 2;
}
.cell-basket {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.main-message {
  display: none;
  background: var(--neutral);
  gap: 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  flex-direction: row;
  box-shadow: 2px 2px 2px 2px lightgrey;
  padding: 3rem 2rem 5rem;
  border: 1px solid var(--greenForgr);
  /* padding-left: 0.5rem;
  padding-right: 2.5rem; */
  z-index: 100;
}
.confirmation-buttons {
  flex: 4;
  display: flex;
  align-items: end;
}
.cancel-button {
  height: fit-content;
  /* width: 50%; */
  font-size: 16px;
  background: var(--blueBack);
  padding: 0.5rem 1rem 0.5rem 1rem;
  cursor: pointer;
}
.counter {
  /* border: 1px solid blue; */
  padding: 0.5rem;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: 400;
  /* background-color: #e4e4e4; */
  background-color: transparent;
}
.custom-select {
  background-color: var(--redBack);
  width: auto;
  padding: 1rem 1rem;
  margin: 0;
  border-radius: 4px;
  border: 1px solid #d6d5ca;
}
.custom-select select {
  display: flex;
  padding: 0.5rem;
  font-style: italic;
}
.delivery {
  border: 2px black solid;
  margin: 0 auto;
}

.pmt-logo {
  width: 90%;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px lightgray;
}
.pmt-sys {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.pmt-wrap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.select-selected {
  background-color: dodgerblue;
}
.table-header {
  text-align: left;
  /* background-color: red; */
}
.table {
  font-size: 12px;
  margin: 1rem 0 rem;
  margin-top: 0.5rem;
  border-spacing: 0;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 2px 2px #eee;
  border-radius: 6px;
  /* background-color: rgb(28, 99, 180); */
}
.table-row:nth-child(even) {
  background-color: rgb(228, 228, 228);
}
.table-digit,
.table-cell {
  padding: 6px;
  border-right: #d6d5ca 1px solid;
  border-left: #d6d5ca 1px solid;
  text-align: left;
}
.table-digit {
  text-align: right;
}

.table-row {
  font-family: "Mulish", sans-serif;
  margin: 1rem;
  padding: 8px;
}
.table-row:hover {
  cursor: pointer;
}
.blue,
.green,
.red,
.sand {
  padding: 0.2rem 1rem;
  font-weight: 500;
  font-size: 14px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 2px 2px 2px 2px rgba(207, 207, 207, 0.5);
}
.blue {
  background-color: #dbedfc;
  color: #2f86c9;
  border-color: #46a8f5;
}
.conf-button.blue {
  padding: 0;
}
.green {
  background-color: #b2ffe3;
  color: #269e72;
  border-color: #2eb886;
}
.red {
  background-color: #ffd7d5;
  color: #cc534a;
  border-color: #f66358;
}

.sand {
  background-color: #fcf8c1;
  color: #777224;
  border-color: #777224;
}
.subtotals {
  font-size: 14px;
  font-style: italic;
  margin: 0.25rem auto;
}
.total {
  display: flex;
}
.totals {
  display: flex;
  margin-top: 1rem;
  justify-content: start;
  gap: 4rem;
}
.totals * {
  font-size: 16px;
}

span {
  cursor: pointer;
}
.span-totals {
  font-size: 18px;
  font-weight: bold;
}
.message {
  display: none;
  background: #ffd7d5;
  color: rgb(218, 0, 0);
  font-size: 24px;
  padding: 1rem;
  box-shadow: none;
  border-color: none;
  border-width: 1px;
  border-style: solid;
}
.number {
  display: flex;
  margin: 0 0.5rem;
  padding: 0 1rem;
  align-items: center;
  align-content: center;

  /* border-right: #d6d5ca 1px solid; */
}
.minus,
.plus {
  color: whitesmoke;
  font-weight: bold;
  width: 1rem;
  /* height: 20px; */
  /* background: #dbedfc; */
  background: #7a7a7a;
  border-radius: 50%;
  padding: 0.2rem;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.plus {
}
input {
  /* height: 34px; */
  width: 1.5rem;
  padding: 0.5rem;
  text-align: center;
  font-size: 14px;
  border: none;
  /* border: 1px solid #ddd;
  border-radius: 4px; */
  /* display: inline-block; */
  vertical-align: middle;
}
