* {
  font-family: Mulish;
  font-size: 12px;
}

.basket-container {
  opacity: 1;
}
body {
  padding-bottom: 30rem;
}
.buy-message > h1 {
  font-size: 18px;
  font-weight: 700;
}
.buy-message {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.cancel-button {
  width: 60%;
  padding: 1rem 2rem;
  background-color: var(--greenBack);
  border: 1px solid var(--greenForgr);
  border-radius: 4px;
  box-shadow: 2px 2px 2px 2px lightgrey;
  cursor: pointer;
}
.main-container {
  position: relative;
}
.main-message {
  display: none;
  background: var(--neutral);
  flex-direction: column;
  position: fixed;
  gap: 3rem;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  z-index: 100;
  box-shadow: 2px 2px 2px 2px lightgrey;
  padding: 3rem 2rem 5rem;
  border: 1px solid var(--greenForgr);
}
.pmt-logo {
  width: 90%;
  background-color: white;
  cursor: pointer;
}
.pmt-sys {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.pmt-wrap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (max-width: 768px) {
  .addr {
    margin: 1rem;
  }
  .basket-checkbox {
    cursor: pointer;
  }

  .blue,
  .green,
  .red,
  .sand {
    padding: 0.2rem 1rem;
    font-weight: 500;
    font-size: 12px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 2px 2px 2px 2px rgba(207, 207, 207, 0.5);
    cursor: pointer;
  }
  .blue {
    background-color: var(--blueBack);
    color: var(--blueForgr);
    border-color: var(--blueForgr);
  }
  .blue:hover {
    background-color: var(--blueForgr);
    color: white;
  }

  .green {
    background-color: var(--greenBack);
    color: var(--greenForgr);
    border-color: var(--greenForgr);
  }
  .green:hover {
    background-color: var(--greenForgr);
    color: white;
  }
  .red {
    background-color: var(--redBack);
    color: var(--redForgr);
    border-color: var(--redForgr);
  }
  .red:hover {
    background-color: var(--redForgr);
    color: white;
  }
  .sand {
    background-color: var(--sandBack);
    color: var(--sandForgr);
    border-color: var(--sandForgr);
  }
  .sand:hover {
    background-color: var(--sandForgr);
    color: white;
  }

  .buttons-area {
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
    justify-content: space-around;
  }
  .checked {
    flex: 3;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    background-color: var(--greenTicket);
    /* background-color: bisque; */
    /* justify-content: space-around; */
  }

  .confirmation-message {
    display: none;
    flex-direction: column;
    position: fixed;
    padding: 1rem 2rem 2rem 2rem;
    top: 30%;
    left: 50%;
    border: solid 1px var(--sandForgr);
    border-radius: 5px;
    transform: translate(-50%, -50%);
    background-color: var(--neutral);
    z-index: 1;
  }
  .crossed {
    text-decoration: line-through;
  }
  .custom-select {
    padding: 1rem 1rem 1rem 1rem;
    border: 1px solid var(--passiveMenu);
  }
  .delivery {
    /* display: inline-flexbox; */
    width: 90%;
    margin: 0rem 1rem;
  }

  .discount,
  .promo {
    color: red;
  }

  h1 {
    display: inline;
    font-size: 14px;
  }
  .headers {
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
  }
  .heading {
    font-size: 14px;
    padding-top: 1rem;
    font-weight: 700;
    margin-left: 1em;
    text-transform: uppercase;
  }
  .housekeeping {
    display: block;
    margin: 0.2.rem;
  }
  .img {
    width: 100%;
    cursor: pointer;
  }
  .in-basket {
    flex: 1;
  }
  .info {
    text-transform: lowercase;
    /* padding-top: 0.5em; */
    margin: 0;
  }
  .info.size {
    text-transform: capitalize;
  }
  .pcs,
  .info-num {
    margin: 0;
    margin-left: auto;
  }
  .minus,
  .plus {
    font-size: 20px;
    color: whitesmoke;
    font-weight: bold;
    width: 1rem;
    /* height: 20px; */
    /* background: #dbedfc; */
    background: #8f8f8f;
    border-radius: 50%;
    padding: 0.5rem;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
  }

  .num1,
  .num {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    font-weight: 700;
  }
  .num1 {
    font-size: 12px;
  }
  .product {
    padding: 0.4em;
    display: grid;
    margin: 1rem;
    gap: 1rem;
    grid-template-columns: 2fr 5fr 0.5fr 3.5fr;
    justify-content: space-between;
    box-shadow: 2px 2px 2px 2px rgba(187, 187, 187, 0.6);
  }
  .product-numbers {
    display: flex;
    flex-direction: column;
    background: var(--greenTicket);
    border-left: 2px solid rgba(56, 141, 53, 0.2);
  }
  .total {
    padding-left: 0.2rem;
    border-left: 2px solid var(--passiveMenu);
  }
  .totals {
    display: flex;
    font-weight: 700;
    margin: 1rem 1rem;
    padding: 0.5rem 0.5rem;
    gap: 2rem;
    justify-content: space-between;
    border: 1px solid var(--passiveMenu);
  }
}
