@media (max-width: 768px) {
  * {
    font-size: 14px;
    font-family: Mulish;
  }
  .cats {
    width: 300px;
  }
  .cell {
    position: relative;
    align-items: center;
    box-shadow: inset;
    cursor: pointer;
    margin: 0.7rem;
    box-shadow: 2px 2px 3px 2px #e4e4e4;
  }
  .container {
    margin-top: 2.5rem;
  }
  .criteria {
    margin: 1rem 0.7rem 0.1rem 0.7rem;
    text-align: left;
    padding: 0.5rem;
    background: linear-gradient(to right, #d2e2b7, #d2e2b7 20%, white 90%);
  }
  .details {
    margin: 0;
    padding: 0;
  }
  .discount {
    background-color: red;
    color: white;
    position: absolute;
    padding: 0.2rem;
    border-radius: 9999px;
    font-size: 12px;
    top: 2.5rem;
    right: 1rem;
  }
  .filter-form {
    display: inline-block;
    /* background-color: red; */
    /* width: fit-content; */
    width: 100px;
  }
  .filter-form-cat {
    display: inline-block;
    /* background-color: red; */
    width: 130px;
    /* width: 100px; */
  }
  .image {
    width: 100%;
  }
  .main-frame {
    padding-top: 1rem;
    padding-bottom: 40rem;
  }
  .promo-discount {
    background-color: var(--promo);
    color: white;
    position: absolute;
    padding: 0.2rem 0.2rem 0.2rem 0.5rem;
    transform: rotate(-15deg);
    border-radius: 4px;
    font-size: 12px;
    top: 3.5rem;
    left: 1rem;
  }
  .sorts-filters {
    display: block;
    width: 100%;
    position: fixed;
    padding-left: 0.7rem;
    padding-top: 1rem;
    z-index: 100;
    background-color: white;
  }
  .sort-form {
    width: 85px;
  }
  .wrapper {
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 992px) {
  * {
    font-size: 18px;
    font-family: Mulish;
  }
  .cats {
    width: 300px;
  }
  .cell {
    position: relative;
    align-items: center;
    box-shadow: inset;
    cursor: pointer;
    margin: 0.7rem;
    box-shadow: 2px 2px 3px 2px #e4e4e4;
  }
  .container {
    width: 100%;
    margin: 0;
  }
  .criteria {
    margin: 1rem 0.7rem 0.1rem 0.7rem;
    text-align: left;
    padding: 0.5rem;
    background: linear-gradient(to right, #d2e2b7, #d2e2b7 20%, white 90%);
  }
  .filter-form {
    display: inline-block;
    width: 150px;
  }
  .image {
    width: 100%;
  }
  .main-frame {
    padding-top: 2rem;
    padding-bottom: 40rem;
  }
  .wrapper {
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
