.image {
  width: 100%;
  cursor: pointer;
}
.main-frame {
  padding-top: 3rem;
  padding-bottom: 40rem;
}
p {
  margin: 0;
  padding: 0.2rem;
}
.promo-discount {
  background-color: var(--promo);
  color: white;
  position: absolute;
  padding: 0.2rem 0.2rem 0.2rem 0.5rem;
  transform: rotate(0deg);
  border-radius: 4px;
  font-size: 12px;
  top: 3.5rem;
  left: 1rem;
}

.sorts-filters {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0rem;
  position: fixed;
  padding-left: 0.7rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid grey;
  box-shadow: 2px 2px 2px 2px rgb(230, 230, 230);
  z-index: 100;
  background-color: var(--mainBack);
}
.filters {
  display: flex;
  justify-content: right;
  gap: 1rem;
  margin-right: 2rem;
}
.sorts {
  margin-left: 1rem;
}

@media (max-width: 768px) {
  * {
    font-size: 14px;
    font-family: Mulish, Roboto;
  }

  .cats {
    width: 300px;
  }

  .cell {
    font-family: Roboto;
    position: relative;
    align-items: center;
    box-shadow: inset;
    cursor: pointer;
    margin: 0.3rem;
    box-shadow: 2px 2px 3px 2px #e4e4e4;
  }
  .container {
    margin-top: 2.5rem;
  }
  .criteria {
    margin: 1rem 0.7rem 0.1rem 0.3rem;
    text-align: left;
    padding: 0.5rem;
    background: linear-gradient(to right, #d2e2b7, #d2e2b7 20%, white 90%);
  }
  .details {
    margin: 0;
    padding: 0;
    font-size: 12px;
  }
  .details-wrap {
    padding-left: 0.2rem;
    padding-bottom: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  .discount {
    background-color: red;
    color: white;
    position: absolute;
    padding: 0.2rem;
    border-radius: 9999px;
    font-size: 12px;
    top: 3.5rem;
    right: 1rem;
  }
  .filter-form {
    display: inline-block;
    /* background-color: red; */
    /* width: fit-content; */
    width: 100px;
  }
  .filter-form-cat {
    display: inline-block;
    /* background-color: red; */
    width: 130px;
    /* width: 100px; */
  }
  .item-menu {
    font-size: 18px;
    font-family: "Roboto";
  }
  .main-frame {
    padding-top: 1rem;
    padding-bottom: 40rem;
  }
  .promo-discount {
    top: 2.5rem;
    left: 1rem;
  }

  .sorts-filters {
    padding-left: 0.3rem;
  }
  .sort-form {
    width: 85px;
  }
  .wrapper {
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 992px) {
  * {
    font-size: 18px;
    font-family: Mulish;
  }
  .item-menu {
    font-family: Roboto;
  }
  .brand-title {
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
  }
  .cat {
    font-size: 14px;
  }
  .cats {
    width: 300px;
  }

  .cell {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    position: relative;
    align-items: center;
    box-shadow: inset;
    /* cursor: pointer; */
    margin: 0.7rem;
    box-shadow: 2px 2px 3px 2px #e4e4e4;
  }
  .container {
    width: 100%;
    margin: 0;
  }
  .criteria {
    margin: 1rem 0.7rem 0.1rem 0.7rem;
    text-align: left;
    padding: 0.5rem;
    background: linear-gradient(to right, #d2e2b7, #d2e2b7 20%, white 90%);
  }
  .details {
    font-family: Roboto;
    font-size: 12px;
    margin: 0;
    padding: 0;
  }
  .details-wrap {
    padding-left: 0.2rem;
    padding-bottom: 0.2rem;
    display: block;
    width: 100%;
    /* flex-direction: column; */
    justify-content: left;
    align-items: start;
    /* background-color: aqua; */
  }
  .discount {
    background-color: red;
    color: white;
    position: absolute;
    padding: 0.2rem;
    border-radius: 9999px;
    font-size: 12px;
    top: 1.5rem;
    right: 1rem;
  }
  .filter-form {
    display: inline-block;
    width: 150px;
  }

  .wrapper {
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
