* {
  font-family: Mulish;
}
a {
  /* color: #fff; */
  text-decoration: none;
}
.container {
  width: 100%;
  display: flex;
  position: relative;
  /* margin: 40px; */
  /* overflow: auto; */
}
.foot-section {
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  font-size: 14px;
  margin-bottom: 10rem;
}
.foot-wrapper {
  padding: 0.2rem 0;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
.home-header {
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 0rem;
}
.info {
  margin: 1rem;
}
.page-layout {
  display: flex;
  background-color: var(--mainBack);
}

.first-page {
  font-size: 16px;
  margin-top: 0.5rem;
}
.prev,
.next {
  width: 20px;
  height: 20px;
  float: left;
  cursor: pointer;
  opacity: 0.2;
}
.general {
  font-size: 16px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-indent: 2rem;
}
.slide {
  width: 400px;
  height: 600px;
  /* padding: 1rem; */
}

.slider {
  display: none;
  /* width: auto; */
  /* height: 600px; */
}

.slider.active {
  display: flex;
  flex-direction: column;
  /* border: solid 1px red; */
}
.slider-inner {
  width: auto;
  /* position: relative; */
  /* overflow: hidden; */
  /* float: left; */
  padding: 3px auto;
}

@media (max-width: 768px) {
  .container::-webkit-scrollbar {
    display: none;
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    /* margin: 40px; */
    /* overflow: auto; */
  }
  .first-page {
    font-size: 14px;
  }
  .footer.bullet {
    display: none;
  }
  .foot-section {
    gap: 0.5rem;
    align-items: left;
  }
  .footer {
    padding: 0 1rem;
  }
  .foot-wrapper {
    /* flex-direction: column; */
    gap: 0.1rem;
    flex-wrap: wrap;
    justify-content: left;
  }

  .general {
    font-size: 14px;
    text-indent: 0rem;
  }
  .img-title {
    padding-left: 2rem;
    font-family: mulish;
    font-weight: 500;
  }
  .info {
    /* font-size: 6px; */
  }
  .home-header {
    margin-top: 1rem;
    font-size: 14px;
  }
  .page-layout::-webkit-scrollbar {
    display: none;
  }
  .page-layout {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    width: 100%;
    /* border: 1px solid red; */
  }

  .slide {
    width: 80%;
    height: auto;
    padding: 1rem 2rem 0.5rem 2rem;
    /* height: 600px; */
    /* padding: 1rem; */
  }
  .slider.active {
    display: block;
    /* display: flex; */
    /* flex-direction: column; */
    /* border: solid 1px red; */
  }
  .slider-outer {
    display: flex;
    /* display: block; */
    /* width: 100%; */
    /* position: absolute; */
    /* top: 50%; */
    /* flex-direction: row;
    */
    justify-content: space-around;
    /* gap: 2rem; */
    /* z-index: 20; */
    /* width: 400px; */
  }
}
@media (min-width: 992px) {
  .container {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .img-title {
    font-size: 20px;
    font-family: mulish;
    margin-bottom: 1rem;
    font-weight: 700;
  }

  .slider.active {
    margin: 1rem auto;
    /* display: block; */
    /* display: flex; */
    /* flex-direction: column; */
    /* border: solid 1px red; */
  }
  .slider-inner {
    display: flex;
    margin-top: 1rem;
    /* justify-content: space-between; */
    padding-left: 1rem;
    padding-right: 1rem;
    /* gap: 15rem; */
    /* gap: 2rem; */
    /* z-index: 20; */
    /* width: 400px; */
  }
  .slider-outer {
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    /* gap: 15rem; */
    /* gap: 2rem; */
    /* z-index: 20; */
    /* width: 400px; */
  }
}
