:root {
  --selected: rgb(205, 253, 205);
  --selected-under: rgb(104, 170, 104);
}
* {
  font-family: Mulish;
  /* font-size: 10px; */
}
body {
  padding-bottom: 30rem;
}
.avail {
  /* border: 1px solid red; */
  background: rgb(237, 255, 237);
  /* background: rgb(169, 255, 169); */
}
.avail-global {
  /* display: none; */
  display: flex;
  flex-shrink: 0;
  align-items: center;
  background-color: var(--blueBack);
  color: var(--greenForgr);
  /* margin-bottom: 2rem; */
  border: 1px solid var(--blueForgr);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.btn-wrap {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}
.product-qty {
  /* margin-top: 1rem; */
  width: 2rem;
  flex-shrink: 0;
}
.product-selected {
  font-size: 10px;
  /* width: 100%; */
  flex-grow: 1;
}
.selection-group {
  display: flex;
  /* margin-top: 1rem; */
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 1rem;
  padding: 0 0.2rem;
  gap: 1rem;
}
.pmt-logo {
  width: 90%;
  background-color: white;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px lightgray;
}
.pmt-sys {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.pmt-wrap {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  gap: 1rem;
}
@media (max-width: 768px) {
  .alert {
    display: none; /* Hidden by default */
    /* display: block; */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    /* left: 20px;
    top: 3em; */
    top: 45%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    width: 95%; /*Full width */
  }
  /* Alert Close button */
  .alert-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .alert-close:hover,
  .alert-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .basket-button {
    background-color: rgb(48, 137, 253);
    font-size: 12px;
    padding: 0.4rem 1rem;
    width: 100%;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
  .basket-buy {
    background: lightgoldenrodyellow;
    padding: 0.4rem 0.5rem;
    text-align: center;
    width: 100%;
    cursor: pointer;
  }
  .basket-info {
    margin-left: 1rem;
  }
  .brand {
    font-size: 14px;
    font-weight: 700;
  }

  .button-green {
    background: var(--greenBack);
    padding: 0.4rem 0.5rem;
    border: 1px solid var(--greenForgr);
    cursor: pointer;
  }
  .button-green:hover {
    background-color: var(--greenForgr);
    color: white;
  }

  .button-oneclick {
    display: inline-flex;
    width: fit-content;
    color: antiquewhite;
    background-color: green;
    margin: 0 auto;
    padding: 0.5rem 2.5rem;
    border-radius: 4px;
    cursor: pointer;
  }
  #back-to-shop.button-oneclick {
    background-color: #3089fd;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    margin-bottom: 1rem;
  }

  .button-promo2 {
    color: white;
    display: inline-block;
    height: fit-content;
    padding: 0.4rem 2.5rem;
    background: var(--promo);
  }
  .btn-one-wrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* grid-template-columns: 1fr 1fr; */
    gap: 1rem;
    margin-bottom: 0.6rem;
  }
  .buttons-all-wrap {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    padding: 0 0.2rem;
    /* margin-top: 1rem; */
  }
  .buttons-one-click {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    align-items: start;
  }
  .cb2 {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
  }
  #callButton {
    display: block;
    align-items: center;
    padding: 1rem 4rem;
    justify-content: center;
    /* width: 100%; */
  }
  .category {
    font-size: 14px;
    font-weight: 500;
    text-transform: lowercase;
  }
  .cell-product {
    display: flex;
    margin: 0 1rem auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(255, 231, 231);
    box-shadow: 2px 2px 2px 2px rgb(209, 209, 209);
  }

  .color {
    display: inline-block;
    flex-wrap: wrap;
    max-width: 3rem;
    /* height: 2rem; */
    padding: 0.5rem 0.5rem;
    border: 1px solid grey;
    margin: 0rem 0rem;
    font-size: 10px;
    cursor: pointer;
    background-color: lightgoldenrodyellow;
  }
  .color-sizes,
  .color-qtys {
    height: 12px;
    text-decoration: line-through;
    text-decoration-color: black;
    text-decoration-thickness: 1px;
  }
  .column.col-color {
    background: rgb(237, 255, 237);
    text-decoration: none;
    cursor: pointer;
  }
  .col-color {
    /* do not kill it */
  }
  .color-notsold {
    color: green;
    font-weight: bold;
    cursor: pointer;
  }
  .color-notsold:hover {
    transform: scale(1.3);
    background: rgb(62, 248, 62);
  }

  .colors {
    display: flex;
    margin-left: 1rem;
    /* gap: 0.5em; */
  }

  .delivery {
    width: 100%;
  }
  .filled {
    background-color: aquamarine;
    font-weight: 700;
    transition: background-color 1s, font-weight ease ease-in-out 5s;
  }
  .style-data {
    width: 100%;
  }

  .style-info {
    font-size: 10px;
    display: none;
    width: 95%;
    position: fixed;
    flex-direction: column;
    align-items: center;
    top: 40%;
    left: 50%;
    gap: 1rem;
    padding: 1rem 0.2rem;
    transform: translate(-50%, -50%);
    border: 1px solid var(--blueForgr);
    background: white;
    z-index: 100;
  }
  .close-info {
    width: 50%;
  }
  tbody {
    justify-content: center;
    margin: 0 auto;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
  }
  th {
    background: rgb(16, 97, 16);
    color: white;
    padding: 0 0.5rem;
  }
  td {
    border-bottom: 1px solid grey;
    padding: 0.4rem;
  }
  table {
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    border-spacing: 0.5rem;
    width: 100%;
  }
  .price,
  .promo,
  .discount,
  .details {
    /* padding-top: 0.2rem; */
    padding: 0;
    margin: 0;
    padding-left: 1rem;
    font-size: 12px;
    font-weight: 500;
    text-transform: lowercase;
    /* background-color: lightpink; */
  }
  .icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 3rem;
    margin-left: 1rem;
  }
  .image-icons {
    width: 80%;
    box-shadow: 2px 2px 2px 2px rgb(152, 160, 163, 0.2);
    cursor: pointer;
  }
  .info {
    display: none;
    position: absolute;
    /* padding-left: 2rem; */
    top: 1.5rem;
    left: 2rem;
    /* transform: translate(-25%, -25%); */
    /* text-align: center; */
  }
  .container-sizes {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: left;
    gap: 0.2rem;
    margin-right: 0.5rem;
    /* overflow: scroll; */
  }
  .column-sizes,
  .column {
    /* display: inline-flex; */
    flex-direction: column;
    font-size: 10px;
    border-radius: 2px;
    /* background-color: rgb(236, 236, 236); */
    width: 1.5rem;
    padding: 0.3rem 0.3rem;
    margin: auto;
    gap: 0rem;
    align-items: center;
    justify-content: center;
    border-bottom: 1px rgb(226, 226, 226) solid;
  }
  .column {
    text-decoration: line-through;
  }
  .right {
    display: flex;
    /* flex: 6; */
    gap: 0.2rem;
    /* overflow: scroll; */
  }
  .left {
    /* border: red solid 1px; */
    font-size: 10px;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    font-weight: 500;
    /* width: 6rem; */
    /* flex: 2; */
    /* display: block; */
    /* margin: 0 0.5rem 0 0.2rem; */
    padding: 0.1rem;
    /* gap: 0.8rem; */
    justify-content: start;
  }
  .left-color {
    margin: 0.5rem 0.5rem auto;
    margin-bottom: 0.2rem;
    /* background-color: antiquewhite; */
    width: 6rem;
    font-size: 14px;
    font-style: italic;
    border-bottom: 1px solid rgb(216, 216, 216);
  }
  .quantity,
  .sizes {
    display: flex;
    font-size: 10px;
    margin: 0 auto;
    padding: 0 0;
    justify-content: center;
  }
  .wrap {
    padding-top: 0.2rem;
    padding-bottom: 0rem;
  }
  .color-wrap,
  .wrap {
    display: flex;
    width: 4rem;
    margin: auto 0rem;
  }
}

.note {
  font-size: 12px;
  font-style: italic;
  padding-top: 0.2rem;
  padding-left: 0.5rem;
}
.one-click {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgb(245, 245, 245);
  padding: 0.5rem 2rem;
  border-radius: 4px;
  border: rgb(140, 221, 140) 2px solid;
  box-shadow: 2px 2px 2px 2px rgb(199, 199, 199);
}
.one-click-final {
  font-size: 14px;
  font-weight: bold;
}
.one-click-wrap {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 0.2rem;
}
.one-click-wrapper {
  /* display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 1rem; */
}
.one-click-wrap-sb {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}
.ogroup {
  font-size: 9px;
}
.one-price-discounts {
  font-size: 14px;
}
.prices {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 90%;
  /* flex-direction: column; */
  gap: 2rem;
  bottom: 1rem;
  left: 1rem;
}
.product-details {
  display: flex;
  margin: 0 1rem auto;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  border: 1px solid rgb(255, 231, 231);
  box-shadow: 2px 2px 2px 2px rgb(209, 209, 209);
}

.final-price {
  position: absolute;
  font-size: 14px;
  top: 3rem;
  right: 2rem;
  transform: rotate(15deg);
  /* transform: translate(-50%, -50%); */
}
li {
  font-size: 12px;
}
.phone-icon {
  width: 2rem;
  height: 1rem;
  /* display: block; */
  padding: 0;
  margin: 0;
}
.product {
  /* margin-top: 1rem; */
  display: flex;
  padding-top: 1rem;
  flex-direction: column;
  position: relative;
}
.product-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 20rem;
}

.product-img {
  padding-top: 2rem;
  padding-bottom: 6rem;

  width: 60%;
  cursor: pointer;
}
.product-info-section {
  flex-direction: column;
  margin-bottom: 2.2rem;
}
.active,
.size-selected {
  color: white;
  border-bottom: double 2px var(--selected-under);
  background: rgb(79, 149, 241);
  border: 1px solid grey;
}
.watermark::after {
  top: 30%;
  left: 10%;
  opacity: 0.7;
  font-size: 1.8rem;
}
