.button-promo {
  margin: 0.3rem 2rem;
  padding: 0.5rem 2rem;
  height: fit-content;
  background: var(--blueBack);
  border: 1px solid var(--blueForgr);
  border-radius: 4px;
  box-shadow: 2px 2px 2px 2px rgb(235, 235, 235);
  cursor: pointer;
}
.get-code {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  margin-bottom: 1rem;
  /* border: 1px solid red; */
}

.info {
  display: flex;
  flex-direction: column;
  /* margin: 1rem auto 0.3rem; */
  font-size: 12px;
  gap: 0.3rem;
  /* width: 80%; */
  background: lightgoldenrodyellow;
  border: 1px solid red;
  border-radius: 4px;
}
.message {
  /* width: 50%; */
  display: inline-block;
  margin: auto;
  color: red;
  text-align: center;
}

.promo-info {
  /* display: block; */
  margin: auto;
  padding: 0rem 1rem 0.5rem;
  background: lightgoldenrodyellow;
  text-align: center;
}
.criteria.promo {
  display: none;
}

.cell {
  /* display: flex; */
  position: relative;
  /* border: 1px solid navy; */
  align-items: center;
  box-shadow: inset;
  cursor: pointer;
  margin: 0.7rem;
  box-shadow: 2px 2px 3px 2px #e4e4e4;
}

@media (max-width: 768px) {
  .button-promo {
    margin: 1rem auto 0.3rem;
    padding: 0.1rem auto 0.1rem;
    height: fit-content;
    background: var(--blueBack);
    border: 1px solid var(--blueForgr);
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px rgb(235, 235, 235);
  }
  .cell {
    /* display: flex; */
    position: relative;
    /* border: 1px solid navy; */
    align-items: center;
    box-shadow: inset;
    cursor: pointer;
    margin: 0.7rem;
    box-shadow: 2px 2px 3px 2px #e4e4e4;
  }
  .info {
    width: max-content;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 1rem auto 0.3rem;
    font-size: 14px;
  }
  .message {
    display: flex;
    gap: 0.5rem;
    margin: 0.2rem;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .si-list {
    margin-left: 0.5rem;
  }
}

@media (min-width: 992px) {
  .button-promo {
    /* margin: 0.3rem 2rem; */
    margin: 1rem auto 0.3rem;
    padding: 1rem 2rem;
    height: fit-content;
    background: var(--blueBack);
    border: 1px solid var(--blueForgr);
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px rgb(235, 235, 235);
  }

  .criteria.promo {
    display: inherit;
  }
  .info {
    width: max-content;
    padding: 1rem 2rem 1rem 2rem;
    margin: 1rem auto 0.3rem;
    font-size: 20px;
  }
  .info-wrap {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  .message {
    display: flex;
    gap: 1rem;
  }
  .promo-info {
    padding: 0.5rem 1rem 0.5rem;
  }
  .si-list {
    padding-left: 2rem;
    font-family: Mulish;
    font-weight: 300;
    /* list-style-type: none; */
    font-size: 16px;
    margin-top: 0.3rem;
  }
}
