.button-promo {
  margin: 0.3rem 2rem;
  padding: 0.5rem 2rem;
  height: fit-content;
  background: var(--blueBack);
  border: 1px solid var(--blueForgr);
  border-radius: 4px;
  box-shadow: 2px 2px 2px 2px rgb(235, 235, 235);
}
.get-code {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  margin-bottom: 1rem;
  /* border: 1px solid red; */
}

.info {
  display: flex;
  flex-direction: column;
  margin: 1rem auto 0.3rem;
  font-size: 12px;
  gap: 0.3rem;
  /* width: 80%; */
  background: lightgoldenrodyellow;
  border: 1px solid red;
}
.message {
  /* width: 50%; */
  display: inline-block;
  margin: auto;
  color: red;
  text-align: center;
}

.promo-info {
  /* display: block; */
  margin: auto;
  padding: 0rem 1rem 0.5rem;
  background: lightgoldenrodyellow;
  text-align: center;
}
.criteria.promo {
  display: none;
}

@media (min-width: 992px) {
  .criteria.promo {
    display: inherit;
  }
  .info {
    width: max-content;
    padding: 1rem 2rem 1rem 2rem;
    margin: 1rem auto 0.3rem;
    font-size: 20px;
  }
  .info-wrap {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  .promo-info {
    padding: 0.5rem 1rem 0.5rem;
  }
  .si-list {
    padding-left: 2rem;
    font-family: Mulish;
    font-weight: 300;
    /* list-style-type: none; */
    font-size: 16px;
    margin-top: 0.3rem;
  }
}
