span.email-span,
span.area-code {
  padding-bottom: 1rem;
  width: 70%;
}

.auth-login {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  gap: 1rem;
}

.authorize {
  font-size: 18px;
}
.btn {
  display: inline-block;
  width: fit-content;
  padding: 0.2rem 2rem;
  margin-left: 0.2rem;
  margin-top: 1rem;
}
.change {
  height: 80%;
  margin-top: 5px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: var(--sandBack);
  font-size: 14px;
  border-radius: 4px;
}
.comment {
  font-style: italic;
  font-size: 14px;
  padding-bottom: 0.5rem;
}

.email-group {
  display: flex;
  /* flex-direction: column; */
}
.email-code-wrap {
  display: flex;
  flex-direction: column;
}

.phone-group {
  display: flex;
  gap: 2rem;
  padding-top: 1rem;
}

.form-container {
  background-color: rgb(226, 242, 252);
  padding: 2rem;
  padding-bottom: 10rem;
  font-size: 18px;
}
h1.prefs {
  margin: 0;
  margin-bottom: 1rem;
}
.input {
  /* margin: 0; */
  padding-bottom: 1rem;
  font-size: 16px;
  width: 50%;
  /* background: transparent; */
  /* border: none; */
}
/* #lbl-email-code {
}
#lbl-sms {
  margin-left: 2rem;
} */
.label {
  display: block;
  font-size: 16px;
}
#email.input {
  width: 70%;
}

li {
  padding-bottom: 0.2rem;
}
.list {
  width: 70%;
  font-size: 14px;
}
.email-wrap,
.phone-wrap {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.mail-input,
.phone-input {
  display: flex;
  justify-content: space-between;
}
.mail-prefs {
  margin-top: 2rem;
  display: flex;
  width: 50%;
  justify-content: space-between;
}
.mail-submit {
  display: flex;
  width: fit-content;
  margin-top: 1rem;
  margin-left: 0.2rem;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 14px;
  background-color: var(--greenBack);
}
/* #sms-code {
  margin: 0;
  width: 70%;
} */
.sms-wrap {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  /* padding-top: 1rem; */
}
