<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />

<head>
    {% block title %}
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.svg">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Roboto+Condensed:ital,wght@0,300;0,400;1,300;1,400&display=swap"
        rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <!-- <link rel="stylesheet" href="/static/css/nav.css"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='/css/nav.css')}}">

    <title>{{title}}</title>
    {% endblock %}
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
            m[i].l = 1 * new Date();
            for (var j = 0; j < document.scripts.length; j++) { if (document.scripts[j].src === r) { return; } }
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(95698734, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/95698734" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
</head>

<body style="opacity: 0;">
    <header>
        <div class="top">
            <!-- <a href="#" class="menu-icon"> -->
            <a href="#" class="menu-icon">
                <!-- <i class="material-icons">dehaze</i> -->
                <i class="material-icons">dehaze</i>
            </a>
        </div>
        <div class="logo"><a href="/home">
                <img class="logo-image" src="/static/images/ФАНФАН_WEEKEND.svg" alt="">
            </a></div>
        {% block content -%}
        {%- block mainmenu -%}
        <nav class="menu">
            <div class="menu-left">
                {% for m in menu %}
                <a class="item-menu" href="{{m.url}}">{{m.name}}</a>
                {%endfor%}
            </div>
            <div class="menu-right">
                <a class="item-menu-right" href="/register2" id="checkout">Выйти</a>
                <a href="/register2"><img id="incognito" src="../static/images/incog6.svg"></a>
            </div>
        </nav>
    </header>
    <div class="base-message">
    </div>

    {% endblock mainmenu %}

    <form class="auth-promo" method="post" id="auth-promo" style="display:none;">
        <div class="send-sms">
            <label class="form-label" for="button" id="label-1">
                Для авторизации введите номер вашего телефона</label>
            <span class="area-code">+7
                <input class="input-glob" type="tel" name="phone" id="phone-glob" placeholder="(000) 000-00-00">
            </span>
        </div>
        <div class="confirm-sms" style="display:none;">
            <label class="form-label" for="button" id="label-2">
                введите код подтверждения из СМС</label>
            <input class="input-glob" type="number" name="sms" id="sms-glob" placeholder="4 digit code">
        </div>
        <div class="buttons">
            <input class="button" type="button" value="отправить" id="bt-send">
            <input class="button" type="button" value="закрыть" id="bt-close">
        </div>
    </form>
    <div class="pay-wrap">
        <div class="pay-card">alfa pay</div>
        <div class="pay-card">yandex pay</div>
        <div class="pay-card">tinkoff pay</div>
        <div class="pay-card">sber pay</div>
        <div class="pay-card">smth else</div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    {% endblock %}

    <!-- <script src="/static/js/nav.js"></script> -->
    <script src="{{ url_for('static', filename='js/nav.js') }}"></script>
    <script>
        let menu = "{{menu}}"

    </script>
</body>

</html>