{% extends 'base.html' %}
{% block content %}

{{ super() }}


<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous">
    </script>
<link rel="stylesheet" href="{{url_for('static', filename='/css/home.css')}}">
<script src=" ../static/js/home.js"></script>

<!-- <div> -->
<div class="page-layout">
    <div class="container">
        <div class="slider-inner">
            <div class="slider active">
                <div class="img-title">Kristinsen Du Nord</div>
                <img class="slide" src="../static/images/slider/kdn1.jpg">
            </div>
            <div class="slider">
                <div class="img-title">Kristinsen Du Nord</div>
                <img class="slide" src="../static/images/slider/kdn2.jpg">
            </div>
            <div class="slider">
                <div class="img-title">Kristinsen Du Nord</div>
                <img class="slide" src="../static/images/slider/kdn3.jpg">
            </div>
            <div class="slider">
                <div class="img-title">Aeronautica Militare</div>
                <img class="slide" src="../static/images/slider/AM.jpg">
            </div>
            <div class="slider">
                <div class="img-title">Aeronautica Militare</div>
                <img class="slide" src="../static/images/slider/am2.jpg">
            </div>
            <div class="slider">
                <div class="img-title">James Perse</div>
                <img class="slide" src="../static/images/slider/JP.jpg">
            </div>
            <div class="slider">
                <div class="img-title">Parajumpers</div>
                <img class="slide" src="../static/images/slider/pj3.jpg">
            </div>
            <div class="slider">
                <div class="img-title">Parajumpers</div>
                <img class="slide" src="../static/images/slider/pj.jpg">
            </div>
        </div>
        <div class="slider-outer">
            <img src="../static/images/slider/left.png" alt="prev" class="prev">
            <img src="../static/images/slider/right.png" alt="next" class="next">
        </div>
    </div>
    <div class="info">
        <h1 class="home-header">АССОРТИМЕНТ</h1>
        <p class="general">
            То, как человек одевается, может рассказать о многом.
            Одежда может рассказать о культурных и национальных особенностях.
            Она, безусловно, может отражать социальную принадлежность.
            Она может рассказать о настроении.
            У человека может быть определенный стиль в одежде.
        </p>
        <p class="general">Когда говорят, что у человека развит вкус в одежде - это субъективно.
            Объективно для нас то, что западный стиль одежды, является привлекательным для многих людей, В том числе
            для нас. И в любом случае итальянский стиль является одинм из лидеров, особенно если это касается
            женской одежды.
        </p>
        <div class="general">
            Именно поэтому в 2012 году мы решили, что ассортимент магазина "Фанфан" будет составлен в шоурумах
            Милана и с тех пор придерживаемся этой концепции.
        </div>
        <h1 class="home-header">О САЙТЕ</h1>
        <ul>

            <li class="first-page">ПОСТУПЛЕНИЯ - на этой странице можно увидеть, какой товар мы получали за
                последнее время</li>
            <li class="first-page">ПРОМО - здесь можно приобрести товар c дополнительной скидкой по промокоду. <br>
                Для получения промокода нужно зарегистрироваться в личном кабинете.
            </li>
            <li class="first-page">КАТАЛОГ - здесь представлен весь товар доступный в интернет магазине</li>
            <li class="first-page">МАГАЗИНЫ - расположение магазинов на карте, телефоны и часы работы</li>
            <li class="first-page">ЛИЧНЫЙ КАБИНЕТ - регистрация по номеру телефона, регистрация электронной почты
                для получения информации о новых поступлениях, промоакциях и распродажах, истории и состояния
                заказов</li>
            <li class="first-page">КОРЗИНА - здесь хранится товар, который вызвал ваш интерес.</li>
        </ul>
        <h1 class="home-header">ПОКУПКА ТОВАРА: ОПЛАТА И ДОСТАВКА</h1>
        <p class="general">ТОВАР можно приобрести как на сайте, так и позвонив в магазин, где вам помогут
            выбрать модель, цвет, размер, а также оформить доставку товара</p>
        <p class="general">Если вы авторизовались в личном кабинете, то товар можно
            приобрести в один клик на странице товара, либо из корзинки. </p>
        <p class="general">Перед оплатой товара нужно либо выбрать магазин самовывоза, либо указать адрес доставки.</p>
        <p class="general">При покупке на сумму свыше 15 тысяч рублей доставка осуществляется беслатно в пределах Москвы
            и ближнего подмосковья &nbsp; (15 км от МКАД) не позднее, чем на следующий календарный день после заказа.
        </p>
        <p class="general">В остальных случаях вы можете самостоятельно заказать доставку, либо мы можем сделать это для
            вас, оплата перевозки согласно тарифам перевозчика</p>
        <p class="general">Чек покупки будет отправлен вам по электронной почте.</p>
        <p class="general">Всу чеки будут доступны по ссылке из личного кабинета (требуется авторизация)</p>
        <div class="general"></div>
        <div class="general"></div>
    </div>
</div>
<div>
    <div class="foot-section">
        <div class="foot-wrapper">
            <div class="footer">Московская обл.</div>
            <div class="footer bullet">&diams;</div>
            <div class="footer">г. Красногорск</div>
            <div class="footer bullet">&diams;</div>
            <div class="footer">ул. Международная 8</div>
            <div class="footer bullet">&diams;</div>
            <div class="footer">ТК Крокус Сити Молл</div>
        </div>
        <div class="foot-wrapper">
            <div class="footer"><b>Магазины:</b>&nbsp;&nbsp;ФанФан &nbsp; &nbsp; Weekend</div>
            <div class="footer bullet">&diams;</div>
            <div class="footer"><b> Телефон:&nbsp;</b>&nbsp;+7 495 902 71 30 </div>
        </div>
        <div class="foot-wrapper">
            <div class="footer">ИП ФЕДОРОВ АЛЕКСАНДР НИКОЛАЕВИЧ</div>
            <div class="footer bullet">&diams;</div>
            <div class="footer"><b> ИНН:</b>&nbsp;&nbsp;773109428668</div>
        </div>
        <div class="foot-wrapper">
            <div class="footer">
                Copyright ©
                <script>
                    document.write(new Date().getFullYear());
                </script> All Rights Reserved
            </div>
        </div>
    </div>
</div>


{% endblock %}