{% extends 'base.html' %}
{% block content %}


{{ super() }}



<head>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous">
        </script>
    <link rel="stylesheet" href="../static/css/home.css">
    <script src=" ../static/js/home.js"></script>
    <title>about</title>
</head>

<body>
    <div class="page-layout">
        <div class="container">
            <div class="slider-inner">
                <div class="slider active">
                    <h1>Kristinsen Du Nord</h1>
                    <img class="slide" src="../static/images/slider/kdn1.jpg">
                </div>
                <div class="slider">
                    <h1>Kristinsen Du Nord</h1>
                    <img class="slide" src="../static/images/slider/kdn2.jpg">
                </div>
                <div class="slider">
                    <h1>Kristinsen Du Nord</h1>
                    <img class="slide" src="../static/images/slider/kdn3.jpg">
                </div>
                <div class="slider">
                    <h1>Aeronautica Militare</h1>
                    <img class="slide" src="../static/images/slider/AM.jpg">
                </div>
                <div class="slider">
                    <h1>Aeronautica Militare</h1>
                    <img class="slide" src="../static/images/slider/am2.jpg">
                </div>
                <div class="slider">
                    <h1>James Perse</h1>
                    <img class="slide" src="../static/images/slider/JP.jpg">
                </div>
                <div class="slider">
                    <h1>Parajumpers</h1>
                    <img class="slide" src="../static/images/slider/pj3.jpg">
                </div>
                <div class="slider">
                    <h1>Parajumpers</h1>
                    <img class="slide" src="../static/images/slider/pj.jpg">
                </div>
            </div>
            <div class="slider-outer">
                <img src="../static/images/slider/left.png" alt="prev" class="prev">
                <img src="../static/images/slider/right.png" alt="next" class="next">
            </div>
        </div>
        <div class="info">
            <h1>Как мы подбираем ассортимент</h1>
            <p class="general">
                То, как человек одевается, может рассказать о многом.
                Одежда может рассказать о культурных и национальных особенностях.
                Она, безусловно, может отражать социальную принадлежность.
                Она может рассказать о настроении.
                У человека может быть определенный стиль в одежде.
            </p>
            <p class="general">Когда говорят, что у человека развит вкус в одежде - это субъективно.
                Объективно для нас то, что западный стиль одежды, является привлекательным для многих людей, В том числе
                для нас. И в любом случае итальянский стиль является одинм из лидеров, особенно если это касается
                женской одежды.
            </p>
            <div class="general">
                Именно поэтому в 2012 году мы решили, что ассортимент магазина "Фанфан" будет составлен в шоурумах
                Милана и с тех пор придерживаемся этой концепции.
            </div>
            <h1>Информация о сайте</h1>
            <ul>

                <li class="first-page">ПОСТУПЛЕНИЯ - на этой странице можно увидеть, какой товар мы получали за
                    последнее время</li>
                <li class="first-page">ПРОМО - здесь можно приобрести товар c дополнительной скидкой по промокоду. <br>
                    Для получения промокода нужно зарегистрироваться в личном кабинете.
                </li>
                <li class="first-page">КАТАЛОГ - здесь представлен весь товар доступный в интернет магазине</li>
                <li class="first-page">МАГАЗИНЫ - расположение магазинов на карте, телефоны и часы работы</li>
                <li class="first-page">ЛИЧНЫЙ КАБИНЕТ - регистрация по номеру телефона, регистрация электронной почты
                    для получения информации о новых поступлениях, промоакциях и распродажах, истории и состояния
                    заказов</li>
                <li class="first-page">КОРЗИНА - здесь хранится товар, который вызвал ваш интерес. Если товар был продан
                    другим клиентам, или зарезервирован для оплаты, он уходит из корзины</li>
            </ul>
            <h1>Как покупать наш товар</h1>
            <p class="general">ТОВАР можно приобрести как на сайте, так и позвонив в магазин, где вам помогут
                выбрать модель, цвет, размер, а также оформить доставку товара</p>
            <p class="general">Если вы зарегистрировали свой телефон и адрес доставки в личном кабинете, то товар можно
                приобрести в один клик на странице товара. Для того, чтобы приобрести товар из корзинки, нужно выбрать
                доступное количество и адрес доставки. </p>
            <p class="general">Если вы не указали адрес доставки, то товар можно получить в магазине. При оплате товара
                вам будет
                отправлен CMC c адресом магазина и кодом для получениия товара</p>
            <div class="general"></div>
            <div class="general"></div>
            <div class="general"></div>
        </div>
    </div>



</body>



{% endblock %}