{% extends 'base.html' %}
{% block content %}
{{ super() }}
<link rel="stylesheet" href="/static/CSS/login.css">
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->

<div class="product-container">

    {% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{cat}}"> {{msg}}</div>
    {% endfor %}
    <form class="auth" method="post" id="auth">
        <div class="phone-group">
            <label class="form-label" for="button" id="label-1">
                Для авторизации введите номер вашего телефона</label>
            <span class="area-code">+7
                <input class="input" type="tel" name="phone" id="phone" placeholder="(000) 000-00-00">
            </span>
        </div>
        <div class="email-group">
            <label class="form-label" for="button" id="label-2">
                Введите ваш адрес электронной почты, если он отличается от указнного ниже
            </label>
            <input class="input email" type="email" name="email" id="email" placeholder="email@email.com">
            <label class="form-label italic">
                <br>&#8727; Если вам нужен электронный чек, это поле должно быть заполнено.
            </label>
            <div class="form-label">
                <input class="" type="checkbox" name="notes" id="notes">
                <label for="notes">Хочу получать извещения о распродажах и промоакциях</label>
            </div>
        </div>
        <br>

        <div style="display:flex;gap: 1rem;">
            <input type="submit" class="button" style="width:50%;" value="отправить" id="button" name="btn-1">
            <input type="submit" class="button back-to-shop" style="width:50%;" id="back-to-shop"
                value="вернуться в магазин" name="btn-2">
        </div>
    </form>
    <form class="form-popup" id="myForm" method="post">
        <div id="switcher">
            <input type="number" placeholder="введите код из смс" class="input-sms" name="smsInput" id="input-sms">
            <input type="number" placeholder="введите код из почты" class="input-email" name="emailCode">
            <button type="submit" class="button" id="sms-button">OK</button>

        </div>
    </form>
</div>

<script>
    e_code = '{{email_code}}'
    sms = '{{sms}}'
    phone = '{{phone}}'
    let msg = '{{msg}}'
    let cat = '{{cat}}'


</script>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
    crossorigin="anonymous"></script>
<script src="/static/JS/login2.js"></script>

{% endblock %}