{% extends 'base.html' %}
{% block content %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='/css/productS.css')}}">


<div class="my-modal">
    <img id="modal-img" class="modal-img" src="{{parent}}{{ data.styleid }}/800/{{data.photo}}">
    <button class="close" type="button">close</button>
</div>


<div class="product-container">
    <div class="product">
        <div class="info">
            <div class="brand">{{data.brand}}</div>
            <div class="category">{{data.category}}</div>
        </div>
        {% if data.promo + data.discount != 0 %}
        <div class="final-price">Конечная цена: <br> <span style="color:red;">
                {{ "{:,.0f}".format(data.price * (1 - data.promo)* (1-data.discount))}}
                руб! </span>
        </div>
        {% endif %}
        <div class="prices">
            <div class="price">цена: {{'{:,}'.format(data.price)}}</div>
            {% if data.promo != 0 %}
            <div class="promo">
                промо: - {{ '{:.0%}'.format(data.promo) }}
            </div>
            {% endif %}
            {% if data.discount != 0 %}
            <div class="discount">
                скидка: - {{ "{:,.0%}".format(data.discount) }}
            </div>
            {% endif %}
        </div>
        <div class="cell-product">
            <img id="main" class="product-img" src="{{parent}}{{ data.styleid }}/800/{{data.photo}}">
        </div>
    </div>
    <div class="product">
        <div class="product-details">
            <div class="details">Модель: {{data.styleid}}</div>
            <div class="details">Артикул: {{data.article}}</div>
            <div class="details">Состав: {{data.composition}}</div>
        </div>
    </div>

</div>



<script src="https://sr.callmeup.ru/button/callback.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
    crossorigin="anonymous">
    </script>
<script src="/static/js/productS2.js"> </script>
<script src="/static/js/index.js"></script>
<script>const allData = "{{data}}"</script>

{% endblock %}