{% extends 'base.html' %}
{% block content %}
{{ super() }}
<!-- <link rel="stylesheet" href="{{url_for('static', filename='/css/catalog.css')}}"> -->
<link rel="stylesheet" href="{{url_for('static', filename='/css/product.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='/css/main.css')}}">

<!-- The Modal -->
<div id="myModal" class="alert">
    <form class="one-click">
        <div class="">
            <p style="font-weight: 400; font-size: 1.2em;">Покупка в один клик</p>
        </div>
        <div class="one-click-wrap">
            <div class="">
                <li>Бренд: {{data.brand}}</li>
            </div>
            <div class="">
                <li>кат.: {{data.category}}</li>
            </div>
            <div class="">
                <li>артикул: {{data.article}}</li>
            </div>
            <div class="">
                <li>цвет: {{data.color}}</li>
            </div>
            <div class="">
                <li id="current-size">
                    размер:
                </li>
            </div>
            <div class="">
                <li>{{data.composition}}</li>
            </div>
        </div>
        <div class="one-click-wrap-sb">
            <div class="one-price-discounts">
                <div class="">
                    <div>цена: {{ "{:,d}".format(data.price) }} руб., </div>
                </div>
                <div class="">
                    {% if data.discount !=0 %}
                    <div>скидка: {{"{:,.0%}".format(data.discount)}},</div>
                    {% endif %}
                </div>
                <div class="promo-added">
                    {% if data.promo !=0 %}
                    <div>промо-скидка: {{"{:,.0%}".format(data.promo)}},</div>
                    {% endif %}
                </div>
                <div class="one-click-qty" id="one-click-qty">Количество: </div>
            </div>
            <div class="one-click-wrap-sb">
                <div class="">
                    <p>Итого: </p>
                </div>
                <div class="one-click-final">
                    <p id="final-price">{{"{:,.0f}".format(data.price * (1-data.discount)* (1-data.promo))}} руб.</p>
                </div>
            </div>
        </div>
        <div class="buttons-one-click">
            <div class="one-click-wrapper">
                <button class="button-oneclick" id="pmt-link" type="button">
                    перейти к оплате
                </button>

                <div class="note">
                    &#42;вам будет отправлен код заказа. По нему вы сможете или оформить доставку, или забрать товар из
                    магазина
                    <br><br> или &nbsp;&nbsp;&ndash;&ndash;&ndash;&ndash;&ndash;&ndash;
                </div>
            </div>
            <div class="one-click-wrapper">
                <div id="addr" name="addr" class="addr">
                    <div class="custom-select">
                        <select class="delivery" name="delivery" id="delivery">
                            <!-- to change font size -->
                            <!-- <option class="ogroup" value="choose address">-выбрать или добавить адрес доставки-</option> -->
                            <option value="choose address">-выбрать или добавить адрес доставки-</option>
                            <!-- <option value="new-address">добавить адрес</option> -->
                            <option value="pickup-18">самовывоз: ТК "Дрим Хаус, магазин "ФАНФАН"</option>
                            <option value="pickup-25">самовывоз: ТК "Крокус Сити Молл", магазин "ФАНФАН"</option>
                            <option value="pickup-27">самовывоз: ТК "Крокус Сити Молл", магазин "WEEKEND"</option>
                            {% if addrData %}
                            {% for a in addrData %}
                            <option value="{{a.spotid}}">{{a.address_string}}</option>
                            {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="note">
                    <br> или &nbsp;&nbsp;&ndash;&ndash;&ndash;&ndash;&ndash;&ndash;
                </div>
            </div>

            <div class="one-click-wrapper">
                <button class="button-oneclick" id="back-to-shop">
                    вернуться в магазин
                </button>
            </div>
        </div>
    </form>
</div>

<div class="alert-general">
    <div class="alert-message">
        Здесь будет текст
    </div>
    <div>
        <button class="OK">OK</button>
        <button class="OK" id="send-request">Получить промокод</button>
    </div>
</div>

<div class="product-container">
    <div class="product">
        <div class="cell-product">
            <div class="prod-title-sm">Бренд: {{data.brand}}</div>
            {% if data.promo != 0 or data.discount != 0 %}
            <div class="final-price">Конечная цена: <br> <span style="color:red;">
                    {{ "{:,.0f}".format(data.price * (1 - data.promo)* (1-data.discount))}}
                    руб! </span>
            </div>
            {% endif %}
            {% if data.promo > 0 %}
            <div class="promo-discount-p">
                промо: {{ '{:.0%}'.format(data.promo) }}
            </div>
            {% endif %}
            <div id="watermark">
                <img id="main" class="product-img" src="{{parent}}{{ data.styleid }}/800/{{data.photo}}">
            </div>
            {% if data.discount > 0 %}
            <div class="discount item-p">
                - {{ "{:,.0%}".format(data.discount) }}
            </div>
            {% endif %}
        </div>
        <div class="cell-product">
            <div class="product-info">
                <div class="product-info-section">
                    <div class="final-price-cont">
                        <p class="brand-title"> {{data.brand}}</p>
                        <p class="details">категория: {{ data.category }}</p>
                        <p class="details"> модель: {{ data.styleid }}</p>
                        <p class="details"> артикул: {{ data.article }}</p>
                        <p class="details"> состав: {{ data.composition }}</p>
                        <p class="details"> цена: {{ "{:,d}".format(data.price) }} руб.</p>
                        {% if data.discount != 0 %}
                        <p class="details"> скидка : {{ "{:,.0%}".format(data.discount) }} </p>
                        {% endif %}
                        {% if promo_discount != 0 %}
                        <p class="details"> скидка по промокоду: {{ '{:.0%}' .format(data.promo) }}</p>
                        {% endif %}
                    </div>
                </div>

                <div class="product-info-section">
                    <div class="container-sizes">
                        <div class="left">
                            <div class="left-color">Цвета:</div>
                        </div>
                        <div id="colors" class="right">
                            {% for color in data.colors.split(",") %}
                            <div class="color">{{ color }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="container-sizes">
                        <div class="left">
                            <div class="wrap">Размеры:</div>
                            <div class="wrap">Количество:</div>
                        </div>
                        <div class="right">
                            {% for size in data.sizes.split(",") %}
                            <div class="column">
                                <div class="sizes">{{size}}</div>
                                <div class="quantities">0</div>
                            </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
                <div class="product-info-section ">
                    <div class="icons">
                        {% for photo in data.photos.split(",") %}
                        <td><img class="image-icons" src="{{parent}}{{ data.styleid }}/800/{{photo}}"></td>
                        {% endfor %}
                    </div>
                </div>
                <div class="product-info-section">
                    <div class="cell-ordering">
                        <div class="basket-section">
                            <div class="basket-left">
                                <div class="basket-buttons">
                                    <div class="btn-wrap">
                                        <input class="product-selected" id="product-selected" autocomplete="off"
                                            placeholder=" -- Выберите цвет и размер или позвоните  ">
                                        <div style="display:flex; justify-content:space-around">
                                            <!-- <label class="for-qty" for="quantity">к-во:</label> -->
                                            <input class="product-qty" type="number" id="quantity" name="quantity"
                                                min="1" value="">
                                        </div>
                                    </div>

                                    <div class="buttons-all-wrap">
                                        <div class="btn-one-wrap">
                                            <button class="basket-buy">купить в один клик </button>
                                            <!-- <button class="button-promo">Промокод </button> -->
                                            <button class="basket-button" type="button" id="addBasket">добавить в
                                                корзину
                                            </button>
                                        </div>
                                        <button class="button-promo2" id="btn-promo2">получить промокод </button>
                                    </div>
                                    <div class="cb2">
                                        <!-- this on is the call me up basket-button -->
                                        <a href="javascript:;" onclick="callmeup(13244);"
                                            class="js-callme-modal-1 callmebutton3" id="callButton">
                                            Обратный звонок</a>
                                        <img src="/static/images/phone_4.png" class="phone-icon">
                                    </div>
                                </div>
                            </div>
                            <div class="basket-right">
                                <a href="/basket" id="gotoBasket"><img class="basket-icon"
                                        src="/static/images/basket_4.png" alt=""></a>
                                {% if basket_total != 0 %}
                                <div class="basket-info">
                                    <span style="font-weight: bold;
                                        font-size:1.2em;">
                                        В корзине:
                                    </span>
                                    <br>
                                    этого товара:
                                    <span class="this-in-basket" id="this-qty">
                                    </span>
                                    <br>
                                    Всего:
                                    <span class="total-in-basket" id="basket-total"> </span>
                                </div>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<!-- callmeup widget -->
<script src="https://sr.callmeup.ru/button/callback.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/static/js/product2.js"> </script>
<script src="/static/js/index.js"></script>

<script>
    var allData = "{{data}}"

</script>

{% endblock %}