{% extends 'base.html' %}
{% block content %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='/css/promo.css')}}">
<!-- <link rel="stylesheet" href="{{url_for('static', filename='/css/catalog.css')}}"> -->
<link rel="stylesheet" href="{{url_for('static', filename='/css/nav.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='/css/main.css')}}">

<div class="info-wrap">
    <div class="site-info">
        <div class="message">
            <div id="message" class="info"></div>
            <button class="button-promo" id="btn-get-promo">Авторизация</button>
        </div>
        <div class="get-code">
            <div>

                <li class="si-list"> При авторизации промо-скидка учитывается автоматически.
                </li>
                <li class="si-list">
                    Промокод будет в СМС для покупок в офлайн.
                </li>
                <li class="si-list">Другие модели товара в разделе “Каталог”.</li>
            </div>
        </div>
    </div>
</div>
<section class="main">
    <div class="sidebar" id="sidebar-main">
        SIDEBAR
    </div>
    <div class="products">
        <div class="container">
            <div class="wrapper">
                {% for a in goods %}
                <div class="cell">
                    <p class="brand-title">
                        {{a.бренд}}
                        <!-- <span style="text-transform:lowercase;font-weight:300;">{{a.категория}}</span> -->
                    </p>
                    <a href="/product2/{{a.модель}}?discount">
                        <img class="image" src="{{parent}}{{ a.модель }}/540/{{a.фото}}">
                    </a>
                    {% if a.скидка!= 0 %}
                    <div class="discount">
                        - {{ "{:,.0%}".format(a.скидка) }}
                    </div>
                    {% endif %}
                    <div class="promo-discount">
                        - {{ a.промо }}
                    </div>
                    <p class="details">{{a.категория}}, мод: {{a.модель}}, {{a.пол}}</p>
                    <p class="details">арт: {{a.артикул}}</p>
                    <p class="details">
                        {% if (a.скидка != 0) %}
                        скидка:{{a.скидка_str}},
                        {% endif %}
                        промо:{{a.промо}}</p>
                    <p class="details">цена:
                        <span style="text-decoration-line: line-through;">{{a.цена}} </span>
                        <span style="color:red;font-size: 16px;">&nbsp;&nbsp; {{ a.final}} руб!</span>
                    </p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
    crossorigin="anonymous"></script>
<script>
    const ddata = '{{title}}'

</script>

<script src="{{url_for('static', filename='/js/promo.js')}}"></script>
<script src="{{url_for('static', filename='/js/index.js')}}"></script>

{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}