{% extends 'base.html' %}
{% block content %}
{{ super() }}

<link rel="stylesheet" href="/static/CSS/registration.css">


<div class="form-container">
    <div class="row">
        <h1>
            ВЫ НЕ АВТОРИЗОВАНЫ
        </h1>
        <h2>
            Авторизуйтесь по телефону, для того, чтобы
        </h2>
        <ul class="authorize">
            <li>размещать и оплачивать заказы</li>
            <li>регистрировать адрес доставки</li>
            <li>добавлять товар в корзину</li>
            <li>получать промокоды на специальные акции и распродажи</li>
        </ul>
    </div>

    <form class="auth-login">
        <div class="phone-group">
            <div class="phone-wrap">
                <label class="label" for="phone" id="lbl-phone">Ваш телефон </label>
                <div class="phone-input">
                    <span class="area-code" id="phone-span">+7
                        <input class="input" type="tel" name="phone" id="phone" placeholder="(000) 000-00-00">
                    </span>
                    <button class="change" type="submit" id="change-phone" onclick="resetPhoneCoockie()"> изменить
                    </button>
                </div>
                <button type="button" class="btn" id="btn1">отправить</button>
            </div>
            <div class="sms-wrap" id="sms-wrap">
                <label class="label" for="sms-code" id="lbl-sms">код из смс</label>
                <input class="input" type="number" name="sms-code" id="sms-code">
                <button type="button" class="btn" id="btn2">отправить</button>
            </div>
        </div>
        <!-- <div class="email-group"> -->
        <div class="phone-group" id="email-group">
            <div class="email-wrap">
                <label class="label" for="email" id="lbl-email">электронная почта</label>
                <div class="mail-input">
                    <input class="input" type="email" name="email" id="email">
                    <button class="change" type="button" id="change-mail">изменить</button>
                </div>
                <!-- <button type="button" class="mail-submit" id="mail-submit">отправить</button> -->
                <button type="button" class="btn" id="mail-submit">отправить</button>
            </div>
            <!-- <div class="email-code-wrap"> -->
            <div class="sms-wrap" id="email-code-wrap">
                <label class="label" for="email-code" id="lbl-email-code">код из email</label>
                <input class="input" type="number" name="email-code" id="email-code">
                <button type="button" class="btn" id="btn3">отправить</button>
            </div>
        </div>
        <!-- <div class="mail-input"> -->
        <div class="mail-prefs" id="mail-prefs">
            <div class="list">
                <h1 class="prefs">Настройки оповещений:</h1>
                <label class="label">Поле "электронная почта" должно быть заполнено, если:</label>
                <!-- <li class="comment"> вам нужен элетронный чек</li>
                    <li class="comment">или вы хотите</li> -->
                <input type="checkbox" id="receipts" name="receipts" value="">
                <label for="receipts">вам нужен элетронный чек</label><br><br>

                <label class="label">вы хотите получать извещения о :</label>
                <input type="checkbox" id="collections" name="collections" value="">
                <label for="collections">новых поступлениях</label><br>

                <input type="checkbox" id="sales" name="sales" value="">
                <label for="sales">распродажах </label><br>

                <input type="checkbox" id="promos" name="promos" value="">
                <label for="promos">промо-акциях</label><br>
            </div>
            <button class="change" type="button" id="prefs">записать</button>
        </div>
        <!-- </div> -->
    </form>
</div>



<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
    crossorigin="anonymous"></script>
<!-- <script src="/static/js/registration.js"></script> -->
<script src="/static/js/register2.js"></script>
<script src="/static/js/index.js"></script>
{% endblock %}