<!DOCTYPE html>
<html>

<head>
    <title>Название вашей страницы</title>
</head>

<body>
    <!-- Ваш контент страницы продукта -->

    <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Product",
    "name": "Название продукта",
    "description": "Описание продукта",
    "image": "ссылка на изображение",
    "brand": {
      "@type": "Brand",
      "name": "Название бренда"
    },
    "offers": {
      "@type": "Offer",
      "price": "Цена продукта",
      "priceCurrency": "Валюта",
      "availability": "Наличие продукта"
    }
  }
  </script>
</body>

</html>